{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="col grey">
  <form method="post">
      <h1>Réinitialiser le mot de passe</h1>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nouveau mot de passe" required>
      </div>
      <input type="hidden" name="token" value="{token}">

      <button class="btn btn-primary" type="submit">
          Réinitialiser
      </button>
  </form>
</div>
{% endblock %}
