{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Import Cahier{% endblock %}

{% block body %}
  <div class="col grey">
    <h1>Import "communs"</h2>
    {{form(form)}}
  </div>
{% endblock %}
