{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Import de contenus éditoriaux{% endblock %}

{% block body %}
  <div class="col grey">
    <h1>Import de "contenus éditoriaux"</h1>
    {{form(form)}}
  </div>
{% endblock %}
