{% extends 'base.html.twig' %}

{% block title %}{{parent()}} S'inscrire{% endblock %}

{% block body %}
<div class="col">
  <div class="alert alert-warning" role="alert">
    Une erreur s'est produite ! N'hésitez pas à nous en faire part.
  </div>
</div>
{% endblock %}
