{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Mentions légales{% endblock %}

{% block body %}
<div class="col grey">
  <h1>Mentions légales</h1>
  <h3>Directeur de la publication :</h3>
  <div class="mb-3">
    Yassine Lakhnec, président de l’Université Grenoble Alpes
    <br/>
    UGA<br/>
    CS 40700<br/>
    38058 Grenoble cedex 9<br/>
    <a href="mailto:presidence-universite@univ-grenoble-alpes.fr">presidence-universite@univ-grenoble-alpes.fr</a>
  </div>

  <h3>Responsabilité éditoriale :</h3>
  <div class="mb-3">
  Bernard Roukhomovsky, porteur du projet ENCHRE (Édition numérique des <i>Cahiers</i> d’Henri de Régnier)<br/>
  <a href="mailto:bernard.roukhomovsky@univ-grenoble-alpes.fr">bernard.roukhomovsky@univ-grenoble-alpes.fr</a>
  </div>

  <div class="mb-3">
    <h3>Hébergement</h3>
    TGIR Huma-Num - UMS 3598<br/>
    54 Boulevard Raspail<br/>
    75006 Paris<br/>
    <a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a><br/>
    cogrid@huma-num.fr<br/>
  </div>

  <div class="mb-3">
    <h3>Conception et maintenance du site</h3>
    ELAN - UMR 5316 Litt&Arts<br/>
    Université Grenoble Alpes / CNRS<br/>
    CS 40700 - 38058 Grenoble cedex 9<br/>
    <a target="_blank" href="http://www.elan-numerique.fr/">http://www.elan-numerique.fr/</a><br/>
    litt-et-arts-elan@univ-grenoble-alpes.fr<br/>
  </div>

  <div class="mb-3">
    <h3>Limitation de responsabilité</h3>
    Malgré les soins apportés à la réalisation du site et sa mise à jour régulière, la responsabilité des éditeurs ne peut être engagée suite à d’éventuelles erreurs ou omissions dans le contenu publié.
  </div>

  <div class="mb-3">
    <h3>Données personnelles</h3>
    Conformément à Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés modifiée notamment par la loi n°2018-493 du 20 juin 2018 relative à la protection des données personnelles ainsi qu’au règlement général sur
    la protection des données (RGPD)., vous disposez d’un droit d’information, d’accès, de rectification et de suppression des données nominatives vous concernant.<br/>
    Vous pouvez l’exercer par mail en écrivant à ELAN : <a href="mailto:litt-et-arts-elan@univ-grenoble-alpes.fr">litt-et-arts-elan@univ-grenoble-alpes.fr</a> ou au délégué à la protection des données (DPO) de l’UGA : relaisdpo@univ-grenoble-alpes.fr ou encore le DPD du CNRS à l’adresse suivante :<br/>
    DPD (déléguée à la protection des données), 17, rue notre Dame des Pauvres,<br/>
    54 519 VANDOEUVRE LÈS NANCY Cedex.<br/>
  </div>

  <div class="mb-3">
    <h4>Qui est concerné ?</h4>
    Les personnes disposant d’un compte utilisateur sont concernées par le traitement de données personnelles.
  </div>

  <div class="mb-3">
    <h4>Quelles données traitons-nous ?</h4>
    Les données personnelles que nous traitons sont celles complétées par l’utilisateur lors de son inscription : courriel et nom d’utilisateur.<br/>
    De plus, conformément à l’Art. 6-II de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique ; décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données des journaux, nous conservons les
    journaux de connexion pendant une durée minimale d’un an.<br/>
  </div>

  <div class="mb-3">
    <h4>Pendant combien de temps les conservons-nous ?</h4>
    Vos données personnelles sont conservées pendant trois ans après la dernière activité du compte sur le site.<br/>
  </div>

  <div class="mb-3">
    <h4>Quels sont vos droits ?</h4>
    Vous pouvez à tout moment, en nous contactant exercer les droits d’opposition, d’accès, de rectification, d’effacement, ainsi que le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles et le droit à
    la portabilité.<br/>
  </div>

  <div class="mb-3">
    <h3>Licence</h3>
    Ce site et l’ensemble des textes qui y sont publiés sont proposés selon les termes de la <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Licence Creative Commons Attribution - Pas d’utilisation commerciale - Partage dans les mêmes conditions 4.0 International.</a><br/>
  </div>

  <div class="mb-3">
    <img src="{{ asset('img/CC_BY-NC-SA.png') }}">
  </div>

  <hr/> 
  
  <h1>Crédits</h1>
  <div class="mb-3">
    <h3>Origine des images</h3>
    Les images des 7 volumes des Cahiers (cotes NAF-14974-14980) et des 10 carnets de notes (cotes NAF-14981-14990) conservés au Département des manuscrits de la BnF sont la propriété de la BnF et sont disponibles sur GALLICA.<br/>
    Les images des 4 volumes de Cahiers (cotes ms. 6310-6313) et des 2 carnets de notes (conservés parmi d’autres documents sous la cote ms. 6298) appartenant aux collections de la Bibliothèque de l’Institut de France sont la propriété de l’Institut de France et seront prochainement disponibles sur la bibliothèque numérique de l’Institut de France.<br/>
  </div>

</div>
{% endblock %}
