{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Manuel d'encodage{% endblock %}

{% block body %}
<div class="col grey">
  <h1>Manuel d'encodage</h1>
  {% include 'edito/manuel-enchre.html' %}
</div>
{% endblock %}
