{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Table des cahiers{% endblock %}

{% block body %}
<div class="col yellow">
  <h1>Table des cahiers</h1>
  <embed src="{{asset('upload/pdf/HR_CAHIERS.pdf')}}" type="application/pdf" width="100%" height="800px" />
</div>
{% endblock %}
